dist/
eeyore.egg-info/
eeyore/__pycache__/
eeyore/api/__pycache__/
eeyore/data/__pycache__/
eeyore/kernels/__pycache__/
eeyore/mcmc/__pycache__/
eeyore/mcmc/samplers/__pycache__/
eeyore/models/__pycache__/
eeyore/stats/__pycache__/
examples/bivariate_normal/.ipynb_checkpoints/
examples/checks/autograd/.ipynb_checkpoints/
examples/checks/distributions/.ipynb_checkpoints/
examples/checks/mcmc/.ipynb_checkpoints/
examples/checks/mlp/.ipynb_checkpoints/
examples/mlp/.ipynb_checkpoints/
examples/mlp/iris/.ipynb_checkpoints/
examples/mlp/xor/.ipynb_checkpoints/
src/eeyore.egg-info/
tmp/
